.container {
  margin-top: 3rem;

  span {
    color: white;
  }

  .blogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
    padding: 1rem;
  }

  .btn {
    padding: 1rem;
    display: flex;
    justify-content: center;

    .expBtn {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      font-family: inherit;
      font-size: 15px;
      font-weight: 600;
      color: #12d5bf;
      text-transform: uppercase;
      padding: 0.75em 1.25em;
      background: #000000;
      border: 2px solid #12d5bf;
      border-radius: 0.75em;
      transform-style: preserve-3d;
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        background 150ms cubic-bezier(0, 0, 0.58, 1);

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #1a1a1a;
        border-radius: inherit;
        box-shadow: 0 0.1em 0 0 #2a2a2a;
        transform: translate3d(0, 0.75em, -1em);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
          box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
      }

      &:hover {
        background: #0d0d0d;
        transform: translate(0, 0.25em);

        &::before {
          box-shadow: 0 0.05em 0 0 #2a2a2a;
          transform: translate3d(0, 0.5em, -1em);
        }
      }

      &:active {
        background: #0d0d0d;
        transform: translate(0em, 0.75em);

        &::before {
          box-shadow: 0 0 0 0 #2a2a2a;
          transform: translate3d(0, 0, -1em);
        }
      }
    }
  }
}
