.mainContainer {

  .mainTitles {
    padding-left: 5rem;
    margin-top: 5rem;
    h2 {
      display: flex;
      align-items: center;
      gap: 1rem;
      p {
        font-size: 2rem;
        div {
          color: #12d5bf !important;
        }
      }
      i {
        display: inline-block;
        width: 5rem;
        height: 0.05rem;
        background-color: #12d5bf;
        margin-bottom: 1rem;
      }
    }
    span{
      color: white;
    }
  }

  .container {

    .iconContainer {
      .iconSubText {
        margin-right: 2rem;

        p {
          text-align: center;
          font-size: 0.85rem;
        }
      }
    }

    .titleWhenExpanded {
      color: white;
      margin-top: 1rem;
      margin-left: -4rem;
    }

    .cardContainer {
      padding: 1.5rem;

      .cardTitle {
        h2 {
          font-size: 1.1rem;
          margin-bottom: 1rem;
          text-align: center;
        }
      }

      .cardContent {
        p {
          font-size: 0.9rem;
          text-align: center;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
