.mainContainer {
  position: relative;

  .gridDivider {
    display: grid;
    grid-template-columns: 25% 75%;

    .xpImgContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      animation: floatDiagonal 6s ease-in-out infinite;
      img{
        width: 30rem;
        position: absolute;
        left: 10rem;
      }
    }
  }

  .container {
    margin-top: -5rem;
    .iconContainer {
      .iconSubText {
        margin-right: 2rem;

        p {
          text-align: center;
          font-size: 0.9rem;
        }

        .date {
          font-size: 0.8rem;
        }
      }
    }

    .titleWhenExpanded {
      color: white;
      margin-top: 1.5rem;
      margin-left: -1rem;
      .companyName {
        color: white;
        font-size: 1.5rem;
      }
      .date {
        margin-top: 0.3rem;
        font-size: 1rem;
      }
    }

    .imgContainer {
      padding: 2rem !important;
      img {
        min-width: 5rem !important;
      }
    }

    .cardContainer {
      padding: 1.5rem;

      .cardTitle {
        h2 {
          font-size: 1.1rem;
          margin-bottom: 1rem;
          text-align: center;
        }
      }

      .cardContent {
        p {
          font-size: 0.9rem;
          text-align: center;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@keyframes floatDiagonal {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -15px);
  }
  50% {
    transform: translate(0, -20px);
  }
  75% {
    transform: translate(-10px, -15px);
  }
}
