.containerHero {
  position: relative;
  min-height: 98vh;
  min-width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: white !important;
  }
}

.bg {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
}

.content {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #12d5bf;
    margin-bottom: 1rem;
  }

  .subContent {
    width: 800px;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .subTitle {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.profileImg,
.profileImg2 {
  position: absolute;
  width: 25rem;
  margin-top: 1rem;
  right: -22rem;
  // animation: floatDiagonal 6s ease-in-out infinite;
}

.profileImg2 {
  left: -20rem;
  // animation: floatDiagonalReverse 6s ease-in-out infinite;
}

.btnSection {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    transform: translateZ(0);
    background-color: #011412;
    padding: 0.75rem;
    border-radius: 50%;

    svg {
      width: 25px;
      height: 25px;
      display: block;
    }

    &:hover {
      transform: scale(1.1) translateZ(0);
    }

    svg {
      display: block;
    }
  }

  .expBtn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    color: #12d5bf;
    text-transform: uppercase;
    padding: 0.75em 1.25em;
    background: #000000;
    border: 2px solid #12d5bf;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      background 150ms cubic-bezier(0, 0, 0.58, 1);

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #1a1a1a;
      border-radius: inherit;
      box-shadow: 0 0.1em 0 0 #2a2a2a;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }

    &:hover {
      background: #0d0d0d;
      transform: translate(0, 0.25em);

      &::before {
        box-shadow: 0 0.05em 0 0 #2a2a2a;
        transform: translate3d(0, 0.5em, -1em);
      }
    }

    &:active {
      background: #0d0d0d;
      transform: translate(0em, 0.75em);

      &::before {
        box-shadow: 0 0 0 0 #2a2a2a;
        transform: translate3d(0, 0, -1em);
      }
    }
  }

  .contactBtn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    padding: 0.75em 1.25em;
    background: #12d5bf;
    border: 2px solid #000000;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      background 150ms cubic-bezier(0, 0, 0.58, 1);

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #0da89a;
      border-radius: inherit;
      box-shadow: 0 0.05em 0 0 #0da89a;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }

    &:hover {
      background: #0ec9b5;
      transform: translate(0, 0.25em);

      &::before {
        box-shadow: 0 0.05em 0 0 #0da89a;
        transform: translate3d(0, 0.5em, -1em);
      }
    }

    &:active {
      background: #0ec9b5;
      transform: translate(0em, 0.75em);

      &::before {
        box-shadow: 0 0 0 0 #0da89a;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}

@media (max-width: 1600px) {
  .content {
    .title {
      font-size: 2rem;
    }

    .shufleTextContainer {
      span {
        font-size: 2rem;
      }
    }

    .subTitle {
      font-size: 1.35rem;
      color: #12d5bf !important;
    }

    .subSubTitle {
      font-size: 1.2rem;
    }
  }

  .profileImg,
  .profileImg2 {
    width: 20rem;
    right: -15rem;
  }

  .profileImg2{
    left: -15rem;
  }

  .btnSection {
    .contactBtn,
    .expBtn {
      font-size: 0.9rem;
    }
  }
}

@keyframes floatDiagonal {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -15px);
  }
  50% {
    transform: translate(0, -20px);
  }
  75% {
    transform: translate(-10px, -15px);
  }
}

@keyframes floatDiagonalReverse {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, -15px);
  }
  50% {
    transform: translate(0, -20px);
  }
  75% {
    transform: translate(10px, -15px);
  }
}

.curvedText {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 7;
  pointer-events: auto;
}
