.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .titles {
    padding-top: 2rem;
  }

  .recognition {
    margin-top: 4rem;
    width: 100%;

    h2 {
      font-size: 1.25rem;
      text-align: center;

      span {
        color: #12d5bf;
        font-weight: 600;
      }
    }
  }
  .contribution {
    h2 {
      p {
        font-size: 1.25rem;
        
      }
      i {
        width: 3rem;
      }
    }

    .musicCardContainer {
      margin-top: 5rem;
      padding-left: 5rem;
    }
  }
}
