.container {
  min-height: 100vh;
  position: relative;
  max-width: 99.5vw;
  span {
    color: white;
  }

  .skillContent {
    padding: 1rem;
    padding-top: 8rem;
    z-index: 999;
  }
  .titles {
    padding-left: 5rem;
    h2 {
      display: flex;
      align-items: center;
      gap: 1rem;
      p {
        font-size: 2rem;
        div {
          color: #12d5bf !important;
        }
      }
      i {
        display: inline-block;
        width: 5rem;
        height: 0.05rem;
        background-color: #12d5bf;
        margin-bottom: 1rem;
      }
    }
  }

  .skillsSection {
    padding-top: 2rem;
    & > div {
      & > div {
        padding: 2rem;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
      }
    }
  }

  .certificatesContent {
    .titles {
      padding-left: 5rem;
      h2 {
        display: flex;
        align-items: center;
        gap: 1rem;
        p {
          font-size: 2rem;
          div {
            color: #12d5bf !important;
          }
        }
        i {
          display: inline-block;
          width: 5rem;
          height: 0.05rem;
          background-color: #12d5bf;
          margin-bottom: 1rem;
        }
      }
    }

    .certificateIcons {
      display: flex;

      & > div {
        gap: 7rem;
        padding: 5rem;
      }
    }
  }
}

@media (max-width: 1600px) {
  .container {

    .skillsSection {
      padding-top: 2rem;
      & > div {
        & > div {
          padding: 2rem;
          margin-top: 1rem;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 1rem;
        }
      }
    }
  }
}
