.container {
  min-height: 100vh;
  position: relative;
  max-width: 99.5vw;
  span {
    color: white;
  }

  // .skillsBg {
  //   position: absolute;
  //   & > div {
  //     position: absolute;
  //     min-height: 150vh;
  //     width: 100%;
  //     filter: blur(1px);
  //     z-index: -1;

  //     &::after {
  //       content: "";
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       width: 100%;
  //       height: 100%;
  //       background: rgba(0, 0, 0, 0.6);
  //     }
  //   }
  // }

  .skillContent {
    padding: 1rem;
    padding-top: 8rem;
    z-index: 999;
  }
  .titles {
    padding-left: 5rem;
    h2 {
      display: flex;
      align-items: center;
      gap: 1rem;
      p {
        font-size: 2rem;
        div {
          color: #12d5bf !important;
        }
      }
      i {
        display: inline-block;
        width: 5rem;
        height: 0.05rem;
        background-color: #12d5bf;
        margin-bottom: 1rem;
      }
    }
  }

  .skillsSection {
    & > div {
      & > div {
        padding: 2rem;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
      }
    }
  }

  .certificatesContent {
    
    .titles {
      padding-left: 5rem;
      h2 {
        display: flex;
        align-items: center;
        gap: 1rem;
        p {
          font-size: 2rem;
          div {
            color: #12d5bf !important;
          }
        }
        i {
          display: inline-block;
          width: 5rem;
          height: 0.05rem;
          background-color: #12d5bf;
          margin-bottom: 1rem;
        }
      }
    }

    .certificateIcons {
      display: flex;

      & > div {
        gap: 7rem;
        padding: 5rem;
      }
    }
  }
}
