/* Spotify music card made by: csozi | Website: www.csozi.hu */

.card {
  position: relative;
  width: 660px;
  height: 130px;
  background: #151515;
  border-radius: 10px;
  padding: 10px;
}

.top {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
}

.pfp {
  position: relative;
  top: 5px;
  left: 5px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-1 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-left: 5px;
}

.title-2 {
  color: lightgrey;
  font-size: 12px;
  font-weight: lighter;
  margin-left: 5px;
}

.time {
  width: 90%;
  background-color: #5e5e5e;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 5%;
  bottom: 24px;
}

.elapsed {
  width: 42%;
  background-color: #1db954;
  height: 100%;
  border-radius: 3px;
}

.controls {
  gap: 4px;
  align-items: center;
  color: #ffffff;
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  justify-content: center;
}

.volume {
  height: 100%;
  width: 42px;
  margin-right: 2px;
}

.air {
  height: 100%;
  width: 42px;
}

.controls svg {
  cursor: pointer;
  transition: 0.1s;
}

.controls svg:hover {
  color: #23da63;
}

.volume {
  opacity: 0;
  position: relative;
  transition: 0.2s;
}

.slider {
  height: 4px;
  background-color: #5e5e5e;
  width: 80%;
  border-radius: 2px;
  margin-left: 10%;
}

.green {
  background-color: #1db954;
  height: 100%;
  width: 80%;
  border-radius: 3px;
}

.circle {
  background-color: white;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  position: absolute;
  right: 20%;
  top: -25%;
}

/* show volume when volume button hovered */
.volume_button:hover ~ .volume {
  opacity: 1;
}

.timetext {
  color: white;
  font-size: 8px;
  position: absolute;
}

.time_now {
  bottom: 10px;
  left: 15px;
}

.time_full {
  bottom: 10px;
  right: 15px;
}

.playing {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1px;
  width: 30px;
  height: 20px;
}

.greenline {
  background-color: #1db954;
  height: 20px;
  width: 2px;
  position: relative;
  transform-origin: bottom;
}

/* keyframe names are global; keep short unique name to avoid collisions */
@keyframes playing {
  0% {
    transform: scaleY(0.1);
  }

  33% {
    transform: scaleY(0.6);
  }

  66% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(0.1);
  }
}

/* Each line gets the same animation with different delays */
.line-1 {
  animation: playing 1s ease-in-out infinite;
  animation-delay: 0.2s;
}

.line-2 {
  animation: playing 1s ease-in-out infinite;
  animation-delay: 0.5s;
}

.line-3 {
  animation: playing 1s ease-in-out infinite;
  animation-delay: 0.6s;
}

.line-4 {
  animation: playing 1s ease-in-out infinite;
  animation-delay: 0s;
}

.line-5 {
  animation: playing 1s ease-in-out infinite;
  animation-delay: 0.4s;
}
