.skillsSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  justify-items: center;
  padding: 3rem;
}

.card {
  position: relative;
  display: flex;
  width: 30rem;
  flex-direction: column;
  border-radius: 0.75rem;
  background: #000000;
  border: 2px solid #12d5bf;
  background-clip: border-box;
  color: #12d5bf;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.cardHeader {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -1.5rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 0.75rem;
  background: linear-gradient(to right, #3b82f6, #2563eb);
  box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.4),
    0 4px 6px -2px rgba(59, 130, 246, 0.05);
}

.cardBody {
  padding: 1.5rem;
}

.cardTitle {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.375;
  letter-spacing: normal;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.cardDescription {
  display: block;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.625;
  color: inherit;
  -webkit-font-smoothing: antialiased;
}