.shuffle-parent {
  display: inline-block;
  font-size: 3rem;
  font-family: 'pressStart', sans-serif;
  text-transform: uppercase;
  visibility: hidden;
  color: #f5f4f4 !important;
}

.shuffleText {
  color: white !important;
}

.shuffle-parent.is-ready {
  visibility: visible;
}

.shuffle-char-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: baseline;
  position: relative;
}

.shuffle-char-wrapper > span {
  display: inline-flex;
  will-change: transform;
  color: white !important;
}

.shuffle-char {
  line-height: 1;
  display: inline-block;
  text-align: center;
  color: white !important;
}
