.navContainer {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  margin: 0 auto;

  span{
    color: white;
    font-size: 1rem;
  }

  button{
    position: relative;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
}
